<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725002927352-ekg2s028rjca91butnbncfo5jhbt77vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725002927352-ekg2s028rjca91butnbncfo5jhbt77vm</string>
	<key>API_KEY</key>
	<string>AIzaSyDm-rvphMnJvuFlaF_aeSR7fPhp8Q9kY9o</string>
	<key>GCM_SENDER_ID</key>
	<string>725002927352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryApp</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-6bc8e</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-6bc8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725002927352:ios:5c0ec00b8a9549712b0f0d</string>
</dict>
</plist>